site_name: Schiebung
site_description: A Rust library for storing and retrieving coordinate transforms
site_url: https://maximaerz.github.io/schiebung/

repo_name: MaxiMaerz/schiebung
repo_url: https://github.com/MaxiMaerz/schiebung

theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.path
    - toc.integrate
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate
  icon:
    repo: fontawesome/brands/github

plugins:
  - search
  - monorepo

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - tables
  - attr_list
  - md_in_html

nav:
  - Home: index.md
  - Core: '!include ./core/mkdocs.yml'
  - Comms: '!include ./comms/mkdocs.yml'
  - Visualizer: '!include ./visualizer/mkdocs.yml'

docs_dir: docs

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/MaxiMaerz/schiebung
