services:
  server:
    build:
      context: ../../
      dockerfile: server/docker/server/Dockerfile
    environment:
      - RUST_LOG=info
    ports:
      - "9090:9090" # Rerun web viewer
      - "9876:9876" # Rerun gRPC server
    extra_hosts:
      - "host.docker.internal:host-gateway"
    deploy:
      restart_policy:
        condition: on-failure

  client-earth:
    build:
      context: ../../
      dockerfile: server/docker/client/Dockerfile
    command: python /app/client.py --parent Sun --child Earth --radius 2.0 --period 10.0
    depends_on:
      - server
    deploy:
      restart_policy:
        condition: on-failure

  client-moon:
    build:
      context: ../../
      dockerfile: server/docker/client/Dockerfile
    command: python /app/client.py --parent Earth --child Moon --radius 0.5 --period 2.0
    depends_on:
      - server
    deploy:
      restart_policy:
        condition: on-failure
